extends ../layout

block content
  div(class="p-3 mb-0")
    div(class="row")
      if capacitacion != null         
        h2( class="col-lg-8 ml-0") Editar capacitacion
      else
         h2( class="col-lg-8 ml-0") Crear capacitacion
      hr
      div(class="col-lg-4 d-flex justify-content-lg-end")
        a(id="backBtn" class="btn btn-info my-2 fas fa-times-circle" href="/api/capacitaciones")

  form(id="form" action="/api/capacitaciones" class="ml-3")
    div(class="row ")
      div(class="col-lg-6")
        div(class="form-group col-lg-12 pl-0")
          label(for="Descripcion" class="control-label") Descripcion
          if capacitacion != null
            input(type="hidden", id="capacitacion", value= JSON.stringify(capacitacion))
            input(id="Descripcion" type="text" class="form-control col-lg-8" placeHolder="descripcion de la capacitacion" value=capacitacion.Descripcion)
          else
            input(id="Descripcion" type="text" class="form-control col-lg-8" placeHolder="descripcion de la capacitacion")
        div(class="form-group col-lg-12 pl-0")
          label(for="Nivel" class="control-label") Nivel de Riesgo
            select(id="Nivel" type="text" class="form-control col-lg-12")
              option(value="Grado") Grado
              option(value="Post-grado") Post-grado
              option(value="Maestria") Maestria
              option(value="Tecnico") Tecnico
              option(value="Doctorado") Doctorado
              option(value="Gestion") Gestion
        div(class="form-group col-lg-12 pl-0")
          label(for="FechaDesde" class="control-label") Fecha Desde
          if capacitacion != null
            -var date = new Date(Date.parse(capacitacion.FechaDesde)).toISOString().split('T')[0]
            input(id="FechaDesde" type="Date" class="form-control col-lg-8" value=date)
          else
            input(id="FechaDesde" type="Date" class="form-control col-lg-8")
        div(class="form-group col-lg-12 pl-0")
          label(for="FechaHasta" class="control-label")  Fecha Hasta
          if capacitacion != null
            -var date = new Date(Date.parse(capacitacion.FechaHasta)).toISOString().split('T')[0]
            input(id="FechaHasta" type="Date" class="form-control col-lg-8" value=date)
          else
            input(id="FechaHasta" type="Date" class="form-control col-lg-8")
        div(class="form-group col-lg-12 pl-0")
          label(for="Institucion" class="control-label") Institucion
          if capacitacion != null
            input(id="Institucion" type="text" class="form-control col-lg-8" placeHolder="Institucion de estudio" value=capacitacion.Institucion)
          else
            input(id="Institucion" type="text" class="form-control col-lg-8" placeHolder="Institucion de estudio")
    div(class="form-group col-lg-12 pl-0")
      if capacitacion != null 
        button(type="submit" class="btn btn-primary col-lg-3 py-2 my-2") Editar
      else
        button(type="submit" class="btn btn-primary col-lg-3 py-2 my-2") Guardar

append scripts
  script.
    $(document).ready(function () {

        

          const tokenName = "RRHHtoken";
          const addBtn = document.querySelector("#backBtn");
          const url = addBtn.getAttribute('href');
          const token = window.localStorage.getItem(tokenName);
          addBtn.setAttribute("href", `${url+"?token="+token}`);
          const headers = {'Content-Type': 'application/json','x-auth-token': token};
          const redirectUrl = `/api/capacitaciones?token=${token}`;

          let form = document.querySelector("#form");
          let capacitacion = document.querySelector("#capacitacion");

      form.addEventListener('submit',function (e){
        e.preventDefault();
        let Descripcion = document.querySelector("#Descripcion").value;
        let Institucion = document.querySelector("#Institucion").value;
        let Nivel = document.querySelector("#Nivel").value;
        let FechaDesde = document.querySelector("#FechaDesde").value;
        let FechaHasta = document.querySelector("#FechaHasta").value;
        
        if(Descripcion.length === 0 || Descripcion.length < 3){
          bootbox.alert("La Descripcion debe tener al menos 3 caracteres");
        }
        else if(Nivel.length === 0){
          bootbox.alert("Debe Elegir un nivel");
        }
        else if(!["Grado","Post-grado","Maestria","Tecnico","Doctorado","Gestion"].includes(Nivel)){
          bootbox.alert("El nivel debe ser Grado ,Post-grado,Maestria,Tecnico,Doctorado,Gestion");   
        }else if (!FechaDesde){
           bootbox.alert("La fecha no puede estar vacia");
        }
        else if (!FechaHasta){
           bootbox.alert("El fecha  no puede estar vacia");
        }
        else if(FechaDesde >= FechaHasta){
          bootbox.alert("La fechaHasta debe ser mayor que la fechaDesde");
        }
        else if(Institucion.length === 0 || Institucion.length < 3){
          bootbox.alert("La Institucion debe tener al menos 3 caracteres");
        }
        else{
          let data = {Descripcion,Nivel,FechaDesde,FechaHasta,Institucion};
            if(capacitacion != null){
                fetch(`/api/capacitaciones/${JSON.parse(capacitacion.value)._id}`, {
                    method: 'PUT', 
                    mode: 'cors', 
                    cache: 'no-cache',
                    credentials: 'same-origin',
                    headers: headers,
                    redirect: 'follow',
                    referrer: 'no-referrer',
                    body: JSON.stringify(data)})
                .then(response => response.json())
                .then(data => {
                  if(data !== null && !data.Errmessage){
                    bootbox.alert("Se ha editado la capacitacion correctamente",() => {
                        window.location = redirectUrl;
                    });
                  }
                  else bootbox.alert(data.Errmessage);
                })
                .catch(err => bootbox.alert('Ha ocurrido un error '+err));
            }else{
              fetch("/api/capacitaciones", {
                    method: 'POST', 
                    mode: 'cors', 
                    cache: 'no-cache',
                    credentials: 'same-origin',
                    headers: headers,
                    redirect: 'follow',
                    referrer: 'no-referrer',
                    body: JSON.stringify(data)})
                .then(response => response.json())
                .then(data => {
                  if(data !== null && !data.Errmessage){
                    bootbox.alert("Se ha creado la capacitacion correctamente",() => {
                        window.location = redirectUrl;
                    });
                  }
                  else bootbox.alert(data.Errmessage);
                })
                .catch(err => bootbox.alert('Ha ocurrido un error '+err));
            }
          //
        }
      })
    })