extends ../layout

block content
  div(class="container mb-2")
    div(class="express render pug")
      h2 Empleados
    //-   a(id="addBtn" href=`/api/empleados/create?token=` class="btn btn-primary")
    //-     i(class="fa fa-plus") Agregar
  br
  table(id="empleadosTable" class="table table-hover table-responsive-md table-bordered ")
    thead(class="thead-dark")
      tr
        th(scope="col") Nombre
        th(scope="col") Cedula
        th(scope="col") FechaIngreso
        th(scope="col") Salario
        th(scope="col") Puesto
        th(scope="col") Departamento
        th(scope="col") Acciones

append scripts
  script(src="/bower_components/datatables/js/jquery.dataTables.min.js")
  //-script(src="/bower_components/datatables.net-bs4/js/dataTables.bootstrap4.min.js")
  script(src="/bower_components/datatables.net-buttons/js/dataTables.buttons.min.js")
  script(src="/bower_components/datatables.net-buttons/js/buttons.print.min.js")
  script(src="/bower_components/datatables.net-buttons-dt/js/buttons.dataTables.min.js")
  script(src="/bower_components/pdfmake/build/pdfmake.min.js")
  script(src="/bower_components/datatablesnetbuttonsbs4/js/buttons.bootstrap4.min.js")
  script.
      $(document).ready(function () {
        
          const tokenName = "RRHHtoken";
        //-   const addBtn = document.querySelector("#addBtn");
        //-   const url = addBtn.getAttribute('href');
          const token = window.localStorage.getItem(tokenName);
        //-   addBtn.setAttribute("href", `${url+token}`);

          var empleadosTable = $("#empleadosTable");
            var datatable = empleadosTable.DataTable(
                {
                    dom:'Bfrtip',
                    buttons: [
                        'copy', 'excel', 'pdf','print'
                    ],
                    ajax: {
                        url: "/api/empleados/getEmpleados",
                        dataSrc: "",
                        headers: { 'x-auth-token': token},
                        error: function (err) {
                                if(err.status = 401)
                                 bootbox.alert("No posee un token de autorizacion",() => {
                                    window.location = "/api/auth/login";
                                 });
                                else if(err.status = 400){
                                    bootbox.alert("El token de autorizacion es invalido",() => {
                                    window.location = "/api/auth/login";
                                });
                                }
                                else if(err.status = 403){
                                    bootbox.alert("El Acceso denegado",() => {
                                    window.location = "/api/";
                                });
                            }
                        }
                    },
                    columns: [
                        {
                            data: "Nombre",
                        },
                        {
                            data: "Cedula",
                        },
                        {
                            data: "FechaIngreso",
                            render: function (data) {
                                return new Date(Date.parse(data)).toLocaleDateString("en-US")
                            },
                        },
                        {
                            data: "Salario",
                        },
                        {
                            data: "Puesto",
                            render: function (data) {
                                return data.Nombre;
                            },
                        },
                        {
                            data: "Departamento",
                            render: function (data) {
                                return data.Nombre;
                            },
                        },
                        {
                            data: "_id",
                            render: function (data) {
                                return `<a class="btn btn-warning btn-xs fa fa-edit" href="/api/empleados/editar/${data}?token=${token}"></a>
                                        <button type="button" data-id="${data}" class="btn btn-danger btn-xs fas fa-times-circle js-remove"></button>
                                               `
                            },
                        }
                    ],
                    "columnDefs": [
                        { "name": "Nombre","orderable": true, "targets": 0 },
                        { "name": "Cedula","orderable": true, "targets": 1 },
                        { "name": "FechaIngreso","orderable": true, "targets": 2 },
                        { "name": "Salario","orderable": true, "targets": 3 },
                        { "name": "Puesto","orderable": true, "targets": 4 },
                        { "name": "Departamento","orderable": true, "targets": 5 },
                    ],
                    "autoWidth": false,
                    "language": {
                        lengthMenu: "Mostrar _MENU_ registros por pagina",
                        zeroRecords: "No hay coincidencias",
                        infoEmpty: "No hay registros disponibles",
                        info: "Mostrando pagina _PAGE_ de _PAGES_",
                        infoFiltered: "(filtrado de _MAX_ registros)",
                        sSearch: "<i class='fa fa-search'></i>",
                        loadingRecords: "Cargando...",
                        processing: "Cargando registros",
                        paginate: {
                            next: "Siguiente",
                            previous: "Anterior"
                        },
                    },
                });

            empleadosTable.on("click", ".js-remove", function () {
                var button = $(this);
                bootbox.confirm("Estas seguro de que desea despedir a este empleado", function (result) {
                    if (result) {
                        $.ajax({
                            type: "DELETE",
                            url: `/api/empleados/${button.attr("data-id")}`,
                            headers: { 'x-auth-token': token},
                            success: function (data) {
                                if (data != null) {
                                    datatable.row(button.parents("tr"))
                                        .remove()
                                        .draw();
                                    bootbox.alert("Se ha despedido el empleado");
                                } else {
                                    bootbox.alert("No Se ha despedido el empleado, error interno");
                                }
                            },
                            error: function (err) {
                                if(err.status = 401)
                                 bootbox.alert("No posee un token de autorizacion",() => {
                                    window.location = "/api/auth/login";
                                 });
                                else if(err.status = 400){
                                    bootbox.alert("El token de autorizacion es invalido",() => {
                                    window.location = "/api/auth/login";
                                });
                                }
                                else if(err.status = 403){
                                    bootbox.alert("El Acceso denegado",() => {
                                    window.location = "/api/";
                                });
                            }
                        }
                        });
                    }
                });

            });
        });
    
